# Dependencies
node_modules/

# Environment files
.env
.env.local

# Build outputs
dist/
build/
.build/

# Serverless
.serverless/

# ESBuild temporary files
.esbuild/


# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker volumes
mongo_data/